<!doctype html>
<html>
    <%= partial "partials/head" %>
    <body>
        <%= partial "partials/navigation" %>
        <div style="background-color: #<%= current_page.data.accent %>; width: 1000px; height: 400px" ></div>
        <h1>
            <%= current_page.data.title %>
        </h1>
        <%= partial "partials/ingredients" %>
        <%= partial "partials/method" %>
        <%= yield %>
        <%= partial "partials/footer" %>
    </body>
</html>
