<nav>
    <% link_to '/', :class => 'logo' do %>
        <%= image_tag 'logo_urbanplate.svg', :width => '150' %>
    <% end %>
    <div class="nav__left">
        <%= current_link_to "Browse All Recipes", "/" %>
    </div>
    <div class="nav__right">
        <%= current_link_to "Store (Coming Soon)", "#", class: "coming-soon" %>
        <%= current_link_to "About", "/recipe/cauliflower-steak/" %>
        <%= current_link_to "Become a Supportor", "/recipe/sweet-potato-nest/" %>
        <% link_to 'http://instagram.com/urbanplateco', target: "_blank" do %>
            <%= image_tag 'icon_instagram.svg', :width => '22' %>
        <% end %>
    </div>
</nav>