<nav>
    <%= image_tag 'logo_urbanplate.svg', :width => '150', :class => 'logo' %>
    <div class="nav__left">
        <%= current_link_to "Browse All Recipes", "/" %>
    </div>
    <div class="nav__right">
        <%= current_link_to "About", "/recipe/cauliflower-steak/" %>
        <%= current_link_to "Become a Sponsor", "/recipe/sweet-potato-nest/" %>
        <% link_to 'http://instagram.com/coreyginnivan' do %>
            <%= image_tag 'logo_urbanplate.svg', :width => '20' %>
        <% end %>
    </div>
</nav>