---
title: Urban Plate - Simple but impressive vego dishes
meta_description: Simple vegetarian dishes that dress to impress in the food world
---

<div class="header">
  <%= image_tag 'logo_urbanplate.svg', :width => '150', :class => 'logo' %>
  <h2>
    Simple vego food that tastes delicious, is easy to make, and will impress anyone that sits in-front of them. This isn’t your usual vegetarian site.
  </h2>
</div>

<div class="wrapper">
  <% page_articles.each_with_index do |article, i| %>
    <% accent = article.data.accent %>
    <% accent_alt = article.data.accent_alt %>
    <% link_to(article.url, :style => "background-color: ##{accent}", :class => "wrapper__recipe") do %>
      <% if article.data.date > 4.day.ago %>
        <span class="new">New!</span>
      <% end %>
      <div class="text_wrapper">
        <h3><%= article.title %></h3>
        <% if article.data.subtext%>
          <p style="color: #<%= accent_alt %>"><%= article.data.subtext %></p>
        <% end %>
      </div>
      <%= image_tag "#{article.data.image}" %>
    <% end %>
  <% end %>
</div>


